{% extends 'admin/base.html' %}
{% load crispy_forms_tags %}
{% block header %}
    <style>
    .errorlist{
            padding-left: 0;
        }

        .errorlist li{
            list-style: none;
            background-color: #F8D7DA;
            color: #9D1C24;
            padding-left: 10px;
        }
    </style>
{% endblock %}
{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Пользователи</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/admin">Главная</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'admin:user_list' %}"></a>Пользователи</li>
                    <li class="breadcrumb-item active">Пользователь</li>
                </ol>
              </div>
            </div>
          </div>
    </section>
    <section class="content">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        {{ register_form.non_field_errors }}
                        {{ profile_form.non_field_errors }}
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            {{ register_form.first_name|as_crispy_field }}
                            {{ register_form.last_name|as_crispy_field }}
                            {{ profile_form.phone|as_crispy_field }}
                            {{ profile_form.role|as_crispy_field }}
                            {{ profile_form.status }}
                        </div>
                        <div class="col-xs-12 col-md-6">
                            {{ register_form.email|as_crispy_field }}
                            {{ register_form.password|as_crispy_field }}
                            {{ register_form.confirm_password|as_crispy_field}}
                        </div>
                    </div>
                    <div class="col-xs-12 text-right">
                        <button type="reset" class="btn btn-default">отменить</button>
                        <button type="submit" class="btn btn-success">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}