{% extends 'admin/base.html' %}
{% block content %}
        <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Владельцы квартир</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/admin">Главная</a></li>
                  <li class="breadcrumb-item active">Владельцы квартир</li>
                </ol>
              </div>
            </div>
          </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group float-right margin-bottom mt-2 mr-5 mb-2">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Выберите действие <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'admin:create_owner' %}">Добавить владельца квартиры</a>
                        <a class="dropdown-item" href="">Отправить сообщение должникам</a>
                        <a class="dropdown-item" href="">Отправить приглашение</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="card">
                <div class="card-header">
                    <div class="card-tools">
                    <a href="{% url 'admin:owner_list' %}" class="btn btn-default btn-sm">
                        <span class="hidden-sm">Очистить</span>
                    </a>
                </div>
                </div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover sorting-table" data-filter-control="true" >
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>ФИО</th>
                                    <th style="min-width: 100px">Телефон</th>
                                    <th>Email</th>
                                    <th style="min-width: 200px">Дом</th>
                                    <th style="min-width: 200px">Квартира</th>
                                    <th>Добавлен</th>
                                    <th>Статус</th>
                                    <th>Есть долг</th>
                                    <th style="width: 114px; min-width: 114px">&nbsp;</th>
                                </tr>
                            <tr id="w0-filters" class="filters">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for owner in object_list %}
                                <tr class="clickable-row" href="{% url 'admin:detail_owner' owner.id %}">
                                    <td>{{ owner.identify }}</td>
                                    <td>{{ owner.fullname }}</td>
                                    <td>{{ owner.phone }}</td>
                                    <td>{{ owner.user.email }}</td>
                                    <td>{{ owner.houses_str }}</td>
                                    <td>{{ owner.flats_str }}</td>
                                    <td>{{ owner.created }}</td>
                                    <td>{{ owner.status }}</td>
                                    <td></td>
                                    <td>
                                        <div class="btn-group float-right">
                                            <a class="btn btn-default btn-sm" href="" title="Отправить сообщение" data-toggle="tooltip"><i class="fas fa-envelope"></i></a>
                                            <a class="btn btn-default btn-sm" href="{% url 'admin:update_owner' owner.user_id %}" title="Редактировать" data-toggle="tooltip"><i class="fas fa-pencil-alt"></i></a>
                                            <a class="btn btn-default btn-sm" href="{% url 'admin:delete_owner' owner.user.id %}" title="Удалить" data-toggle="tooltip" data-pjax="0" data-method="post"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
    <script>
        $(".sorting-table").DataTable({
          "responsive": true, "lengthChange": false, "autoWidth": false, "searching": false, "paging": false,
            "bInfo" : false,
            "bSortCellsTop": true,
            "scrollX": true,
          "buttons": []
        }).buttons().container().appendTo('.sorting-table_wrapper .col-md-6:eq(0)');
    </script>
{% endblock %}